.main {
  display: flex;
  justify-content: center;
}

.section {
  width: 1244px;
  display: flex;
  gap: 60px;
  justify-content: center;
}

.sidebar {
  width: 320px;
  margin-left: 20px;
  margin-top: 120px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.active {
  text-decoration: none;
  color: #F2F2F3;
  font-family: Jet Brains Mono;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  padding-top: 17px;
  padding-bottom: 17px;
}

.pending {
  text-decoration: none;
  color: #8585AD;
  font-family: Jet Brains Mono;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  padding-top: 17px;
  padding-bottom: 17px;
}