.section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
}

.constructor {
  max-height: 719px;
  overflow: auto;
  overflow-x: hidden;
}

.constructor::-webkit-scrollbar-track {
  margin-bottom: 54px;
}

.ingredients {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  min-height: 208px;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.ingredient {
  width: 272px;
  height: 208px;
  position: relative;  
}

.price {
  display: flex;
  gap: 8px;
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: opacity .3s;
}

.button:hover {
  opacity: .6;
}