.header {
  display: flex;
  justify-content: center;
}

.nav {
  max-width: 1240px;
  display: flex;
  align-items: center;
  min-height: 56px;
}

.link {
  display: flex;
  cursor: pointer;
}

.link_constructor {
  composes: link;
}

.link_constructor:hover {
  opacity: .6;
}

.link_list {
  composes: link;
  padding-right: 112px;
}

.link_list:hover {
  opacity: .6;
}

.link_lk {
  composes: link;
  padding-left: 288px;
}

.link_lk:hover {
  opacity: .6;
}